<!DOCTYPE html>
<html>
  <body>
  <ol>
    <h1>$catalog.getName()</h1>
  #foreach($document in $documents)
    <li>
        <p> Name : $document.getName() </p>
        <ul>
            <li><p> ID : $document.getID() </p></li>
            <li><p> Tags :
                #if($document.getTags().size() == 0)
                    none</p>
                #else
                    </p>
                    <ul>
                    #foreach($tag_name in $document.getTags().keySet())
                        <li>$tag_name : $document.getTags().get($tag_name)</li>
                    #end
                    </ul>
                #end
               </li>
        </ul>
    </li>
  #end
  </ol>
  </body>
</html>